<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.cdnfonts.com/css/open-sans" rel="stylesheet">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <style>
            * {
                font-family: 'Open-Sans', sans-serif
            }
        </style>
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <input
                type="checkbox"
                v-model="toggle"
                :true-value="dynamicTrueValue"
                :false-value="dynamicFalseValue">

            <input type="text" v-model="dynamicTrueValue">
            <input type="text" v-model="dynamicFalseValue">

            <input v-model.trim="msg">
            <p>Msg: {{ msg }}</p>

            <p>{{ toggle }}</p>
        </div>

        <script src="index.js"></script>
    </body>
</html>